<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Events@LaStatale
    </title>
    <meta name="description" content="Events organized/hosted by University of Milan" />
    <meta name="keywords" content="Universit&agrave; degli Studi di Milano, Events" />
    <meta name="robots" content="" />
    <meta name="authorization" content="public" />
    <base href="<%=webpackConfig.output.publicPath || '/'%><%=htmlWebpackPlugin.options.filename%>" />
    <link rel="stylesheet" type="text/css" href="http://www.unimi.it/css/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="http://www.unimi.it/css/n4.css" media="screen" /><!--link before import prevents Flash Of Unstyled Content in ie6pc -->
    <link rel="stylesheet" type="text/css" href="http://www.unimi.it/css/Stili.css" />
    <link rel="stylesheet" type="text/css" href="http://www.unimi.it/css/cssHandled.css" media="only screen and (max-device-width: 480px)" />
    <script type="text/javascript" src="http://www.unimi.it/js/tabber.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="RSS - News Unimi" href="http://www.unimi.it/xml/news.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS - Avvisi Unimi" href="http://www.unimi.it/xml/avvisi.xml" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.unimi.it/js/unimiScriptJq.js"></script>
</head>
  <body id="interno">
    <div id="head">
      <script type="text/javascript">
//<![CDATA[
      var larghezza = document.body.clientWidth;
      if ((larghezza <= 955)) {
          document.getElementById('head').className = 'little';
      }
      //]]>
      </script>
      <a name="top" id="top"></a>
      <div id="logo">
        <a href="http://www.unimi.it" accesskey="x"><img src="http://www.unimi.it/img/universitaInterno.jpg" alt="Universit&agrave; degli Studi di Milano" /></a>
      </div>
      <div id="skip">
        <!-- cambiato il nome/ID e i link -->
        <p class="hide">
          Menu salta al contenuto
        </p>
        <ul title="Accessibilit&agrave;">
          <li>
            <a href="776.htm#cerca_semplice">Salta alla ricerca</a>
          </li>
          <li>
            <a href="776.htm#contenuto" accesskey="2">Salta al contenuto di pagina</a>
          </li>
          <li>
            <a href="776.htm#side">Salta al contenuto contestuale</a>
          </li>
        </ul>
      </div><!-- strumenti -->
      <div id="tool">
        <p class="hide">
          Strumenti del Portale
        </p>
        <ul>
          <li>
            <a href="http://www.unimi.it/tools/sitemap/611.htm" title="mappa">mappa</a>
          </li>
          <li>
            <a href="http://www.unimi.it/contatti.htm" title="contatti">contatti</a>
          </li>
          <li>
            <a href="http://www.unimi.it/default.htm" title="home">home</a>
          </li>
        </ul>
      </div><!-- fine strumenti -->
      <!-- navigazione principale -->
      <div id="nav">
        <div id="mainnav">
          <p class="hide">
            Navigazione principale
          </p>
          <ul>
            <li title="Studenti">
              <a href="http://www.unimi.it/studenti/776.htm" title="Studenti" accesskey="S">Studenti</a>
            </li>
            <li title="Enti e Imprese">
              <a href="http://www.unimi.it/enti_imprese/589.htm" title="Enti e Imprese" accesskey="E">Enti e Imprese</a>
            </li>
            <li title="Personale">
              <a href="http://www.unimi.it/personale/769.htm" title="Personale" accesskey="P">Personale</a>
            </li>
            <li title="Didattica">
              <a href="http://www.unimi.it/didattica/614.htm" title="Didattica" accesskey="D">Didattica</a>
            </li>
            <li title="Ricerca">
              <a href="http://www.unimi.it/ricerca/615.htm" title="Ricerca" accesskey="R">Ricerca</a>
            </li>
            <li title="Ateneo">
              <a href="http://www.unimi.it/ateneo/616.htm" title="Ateneo" accesskey="A">Ateneo</a>
            </li>
          </ul>
        </div>
      </div><!-- fine navigazione principale -->
    </div><!-- fine testata -->
    <hr />
    <!-- corpo di pagina -->
    <div id="corpo">
      <!-- +++++++++++++COLONNA SINISTRA+++++++++++++ -->
      <div id="subnav" class="studenti" title="Navigazione di sezione">
        <p class="hide">
          Navigazione di sezione
        </p><!-- CON_SUBNAV--><!--


-->
        <ul class="subnav1" title="Menu di navigazione">
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
          <li>
            <a href="http://www.unimi.it/" title="Link di navigazione">Link di navigazione</a>
          </li>
        </ul>&nbsp;
      </div>
      <hr />
      <!-- +++++++++++++END COLONNA SINISTRA+++++++++++++ --><!-- colonna centrale -->
      <!--googleon: index snippet-->
      <div id="pagebody">
        <!-- contenuto di pagina -->
        <!---->
        <div class="cont">
          <a name="contenuto" id="contenuto"></a> <!--googleoff: index snippet-->
          <div id="bread">
            <p class="hide">
              Voi siete qui
            </p>
            <ul title="percorso storico">
              <li>
                <a href="http://www.unimi.it/default.htm" title="Homepage ">Homepage</a>
              </li>
              <li>Eventi@LaStatale
              </li>
            </ul>
          </div><!--googleon: index snippet-->
          <h1>
            Eventi@LaStatale
          </h1>
          <div class="<%= htmlWebpackPlugin.options.cssStylePrefix || ''%>">
              <div id="app">
              </div>
          </div>
        </div><!-- fine contenuto di pagina -->
      </div><!-- fine colonna centrale -->
      <hr />
      <!-- colonna destra -->
      <div id="related">
        <!--  ricerca -->
        <div id="form">
          <a name="cerca_semplice" class="hide" id="cerca_semplice">cerca semplice</a>
          <form action="http://www.unimi.it/gsasearch/search" method="get">
            <fieldset>
              <div id="searchText">
                <!-- <h2>Cerca</h2>-->
                <p>
                  <a href="http://www.unimi.it/tools/chiedove.xsl">Chi e dove</a>
                </p>
                <p>
                  <a href="http://www.unimi.it/tools/mappe.xsl">Le sedi dell'Ateneo</a>
                </p>
                <p>
                  <a href="http://www.unimi.it/tools/EventiW.xsl">Eventi</a>
                </p>
                <p>
                  <a href="http://www.unimi.it/gsasearch/search?getfields=authorization&amp;frontend=unimi&amp;proxycustom=%3CADVANCED/%3E">Ricerca avanzata</a>
                </p>
              </div>
              <div id="searchBox">
                <label for="search" class="hide">Cerca</label> <input id="search" type="text" value="" name="q" /> <input id="searchbutton" class="button" type="submit" value="Cerca" name="btnG" /> <input type="hidden" value="date:D:L:d1" name="sort" /> <input type="hidden" value="unimi" name="frontend" /> <input type="hidden" value="15" name="num" /> <input type="hidden" value="authorization" name="getfields" /> <input type="hidden" value="unimi|sba|cosp|facolta" name="site" /> <input type="hidden" name="filter" value="0" /><br />
              </div>
            </fieldset>
          </form>
        </div><a name="side" id="side"></a>
        <div class="box">
          <h2 class="related">
            Argomenti Correlati
          </h2>
          <ul>
            <li>
              <a href="http://www.unimi.it/" title="Argomento">Argomento</a>
            </li>
            <li>
              <a href="http://www.unimi.it/" title="Argomento">Argomento</a>
            </li>
            <li>
              <a href="http://www.unimi.it/" title="Argomento">Argomento</a>
            </li>
            <li>
              <a href="http://www.unimi.it/" title="Argomento">Argomento</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <!-- +++++++++++++LINKS FOOTER+++++++++++++ -->
      <div id="footer">
        <div class="wrap">
          <h1 class="hide">
            Note tecniche e contatti
          </h1>
          <ul>
            <li>
              <a href="http://www.unimi.it/uso_portale.htm" title="Uso del Portale">Uso del Portale</a>
            </li>
            <li>
              <a href="http://www.unimi.it/accessibilita.htm" title="Accessibilit&agrave;">Accessibilit&agrave;</a>
            </li>
            <li>
              <a href="http://www.unimi.it/62210.htm" title="Privacy e cookie">Privacy e cookie</a>
            </li>
            <li>
              <a href="http://www.unimi.it/note_legali.htm" title="Note legali">Note legali</a>
            </li>
            <li>
              <a href="http://www.unimi.it/24142.htm" title="Credits">Credits</a>
            </li>
          </ul>
          <h2 class="hide">
            Firma e copyright
          </h2>
          <p class="firma">
            Universit&agrave; degli studi di Milano
          </p>
          <address>
            Via Festa del Perdono 7 - 20122 Milano, tel. +39 02503 111
          </address>
          <p>
            <a href="mailto:unimi@postecert.it" title="Scrivi alla PEC di UNIMI">Posta Elettronica Certificata</a>
          </p>
          <p>
            C.F. 80012650158 - P.I. 03064870151
          </p>
          <p>
            &copy; Copyright 2006-16
          </p>
        </div>
      </div><!-- +++++++++++++END LINKS FOOTER+++++++++++++ -->
      <!-- fine pie' di pagina -->
      <hr />
    </div><!-- fine corpo -->
  </body>
</html>
