doctype html

html(lang="en")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title MTG Organizer
    meta(name='description', content='MtG Organizer - A tool for collectors')
    base(href=(webpackConfig.output.publicPath || '/')+htmlWebpackPlugin.options.filename)

    //- The CSS file(s) of the application will be automagically injected here

  body()
    #app
        
    //- The JS file(s) of the application will be automagically injected here
